$primary-color: #049DD6;
$secondary-color: #D3D3D3;
$tertiary-color: #f9f9f9;

$light-color: #fff;
$dark-color: #000;

$font-family: 'Open Sans', sans-serif;
$primary-border-color: #D3D3D3;
$secondary-border-color: #333333;
$overlay-color: rgba(0,0,0,0.35);